* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #777;
}

/* NAVBAR */
.nav-item {
  transition: 0.3s;
  font-weight: 400;
}

.logo {
  height: 4.5rem;
  object-fit: cover;
}
.navbar-light .navbar-nav .nav-link:hover {
  color: #4583c2;
}
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .show > .nav-link {
  color: #1c54b2;
  font-weight: 500;
}

.header__contact {
  align-items: center;
}
.header__contact i {
  display: block;
  color: #4583c2;
  margin-right: 10px;
  font-size: 20px;
}
.header__contact {
  font-weight: 400;
}
.header__contact a {
  /* font-size: 400 ; */
  color: #4583c2;
  text-decoration: none;
  font-weight: 400;
}

.header__menu {
  background-color: #4583c2;
}
.menu {
  width: 100%;
  color: #fff;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

.menu-link {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 14px;
  padding: 5px 10px;
  border-right: 1px solid #fff;
  transition: 0.3s;
}
.menu-link:hover {
  color: #fff;
  background-color: #1c54b2;
}

/* end NAVBAR */
