$--primary-color: #1c54b2;
$--text-color: #777;
$--second-color: #4caf50;

header {
  position: fixed;
  width: 100%;
  background-color: #fff;
  z-index: 1;
}
// responsive header
.content {
  padding-top: 10rem;
}

// PURCHASING
.purchasing {
  &__title {
    color: $--primary-color;
  }
  &__menu {
    padding: 0;
    list-style: none;
  }
  &__item {
    padding: 5px 0;
    &--link {
      text-decoration: none;
      color: $--text-color;
      font-weight: 400;
      transition: 0.3s;
    }
  }
}

.title__content {
  color: $--primary-color;
  font-weight: 700;
}
.break_line {
  width: 10rem;
  height: 0.2rem !important;
}

// END PURCHASING

// CONTENT
.carousel {
  display: block;
  padding: 30px 0;
  img {
    margin: 0 auto;
  }
}

.title__list {
  color: $--primary-color;
  font-size: 40px;
  font-weight: 500;
  margin-bottom: 20px;
}
.title__desc {
  color: $--second-color;
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 15px;
}
.desc {
  text-align: justify;
}

.list__price {
  &--item {
    margin: 5px 0;
  }
}

.table__preview {
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 30px;
}

tr,
td {
  border: 1px solid $--text-color;
  padding: 5px;
}

.deeplink {
  text-decoration: none;
  font-weight: 500;
}

// end CONTENT
