header {
  position: fixed;
  width: 100%;
  background-color: #fff;
  z-index: 1;
}

.content {
  padding-top: 10rem;
}

.purchasing__title {
  color: #1c54b2;
}
.purchasing__menu {
  padding: 0;
  list-style: none;
}
.purchasing__item {
  padding: 5px 0;
}
.purchasing__item--link {
  text-decoration: none;
  color: #777;
  font-weight: 400;
  transition: 0.3s;
}

.title__content {
  color: #1c54b2;
  font-weight: 700;
}

.break_line {
  width: 10rem;
  height: 0.2rem !important;
}

.carousel {
  display: block;
  padding: 30px 0;
}
.carousel img {
  margin: 0 auto;
}

.title__list {
  color: #1c54b2;
  font-size: 40px;
  font-weight: 500;
  margin-bottom: 20px;
}

.title__desc {
  color: #4caf50;
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 15px;
}

.desc {
  text-align: justify;
}

.list__price--item {
  margin: 5px 0;
}

.table__preview {
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 30px;
}

tr,
td {
  border: 1px solid #777;
  padding: 5px;
}

.deeplink {
  text-decoration: none;
  font-weight: 500;
}

/*# sourceMappingURL=style.css.map */
